.breadcrumbs {
  @include mobile {
    display: none;
  }

  &__container {
    @include small-tablet {
      padding-right: max(72px, calc((100% - var(--content-width)) / 2));
      padding-left: max(72px, calc((100% - var(--content-width)) / 2));
    }
  }

   &__list {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }

  &__item:not(:last-child) {
    &::after {
      content: '/';
      margin-right: 2px;
      color: var(--color-grey);
    }
  }

  &__link {
    margin-right: 2px;
    color: var(--color-grey);
    font-size: 14px;
    line-height: 100%;

    &--active {
      color: var(--color-primary-shade);
    }
  }
}
