.catalog__checkbox {
  &:not(:last-child) {
    margin-bottom: 29px;
  }

  &-title {
    margin: 0;
    margin-bottom: 9px;
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    color: var(--color-grey-shade);

    &--price {
      margin-bottom: 4px;
    }
  }

  &-item {
    display: flex;
    align-items: center;
    width: max-content;
    font-size: 16px;
    line-height: 130%;
    color: var(--color-grey-shade);

    &:not(:last-child) {
      margin-bottom: 11px;
    }
  }

  &-input {
    & + .catalog__checkbox-check {
      display: block;
      margin-right: 10px;
      width: 20px;
      height: 20px;
      border: 1px solid var(--color-grey);
      border-radius: 2px;
      background-image: url(../../img/catalog-check.svg);
      background-repeat: no-repeat;
      background-position: center;
    }

    &:checked {
      & + .catalog__checkbox-check {
        border-color: var(--color-primary);
        background-color: var(--color-primary);
      }
    }
  }
}
