<section class="category">
  <div class="container category__container">
    <h3 class="section-title category__title">Топ категории</h3>
    <ul class="list-reset category__list">
      <li class="category__item category__item-1">
        <ul class="list-reset category__choice category__choice-320">
          <li class="category__choice-item">
            <a href="#" class="category__choice-link category__choice-link--320 link-effects">Прямые</a>
          </li>
          <li class="category__choice-item">
            <a href="#" class="category__choice-link category__choice-link--320 link-effects">Угловые</a>
          </li>
          <li class="category__choice-item">
            <a href="#" class="category__choice-link category__choice-link--320 link-effects">Модульные</a>
          </li>
        </ul>
        <h4 class="category__item-title category__item-title--large card__title">Диваны
          <a href="../catalog-page.html" class="category__item-link category__item-link--576">
            <span class="category__item-arrow btn__arrow">
              <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1L6 6L1 11" stroke="#A65CF0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </span>
          </a>
        </h4>
        <a href="../catalog-page.html" class="category__item-link category__item-link--320">
          В каталог
          <span class="category__item-arrow btn__arrow">
            <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 1L6 6L1 11" stroke="#A65CF0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </span>
        </a>
      </li>
      <li class="category__item category__item-2">
        <ul class="list-reset category__choice">
          <li class="category__choice-item">
            <a href="#" class="category__choice-link link-effects">Мягкие</a>
          </li>
          <li class="category__choice-item">
            <a href="#" class="category__choice-link link-effects">Кресла-кровати</a>
          </li>
        </ul>
        <h4 class="category__item-title card__title">Кресла
          <a href="../catalog-page.html" class="category__item-link category__item-link--576">
            <span class="category__item-arrow btn__arrow">
              <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1L6 6L1 11" stroke="#A65CF0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </span>
          </a>
        </h4>
        <a href="../catalog-page.html" class="category__item-link category__item-link--320">
          В каталог
          <span class="category__item-arrow btn__arrow">
            <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 1L6 6L1 11" stroke="#A65CF0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </span>
        </a>
      </li>
      <li class="category__item category__item-3">
        <ul class="list-reset category__choice">
          <li class="category__choice-item">
            <a href="#" class="category__choice-link link-effects">Односпальные</a>
          </li>
          <li class="category__choice-item">
            <a href="#" class="category__choice-link link-effects">Двуспальные</a>
          </li>
        </ul>
        <h4 class="category__item-title card__title">Кровати
          <a href="../catalog-page.html" class="category__item-link category__item-link--576">
            <span class="category__item-arrow btn__arrow">
              <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1L6 6L1 11" stroke="#A65CF0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </span>
          </a>
        </h4>
        <a href="../catalog-page.html" class="category__item-link category__item-link--320">
          В каталог
          <span class="category__item-arrow btn__arrow">
            <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 1L6 6L1 11" stroke="#A65CF0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </span>
        </a>
      </li>
      <li class="category__item category__item-4">
        <ul class="list-reset category__choice">
          <li class="category__choice-item">
            <a href="#" class="category__choice-link link-effects">Тумбы</a>
          </li>
          <li class="category__choice-item">
            <a href="#" class="category__choice-link link-effects">Комоды</a>
          </li>
        </ul>
        <h4 class="category__item-title category__item-title--320 card__title">Тумбы и комоды
          <a href="../catalog-page.html" class="category__item-link category__item-link--576 category__item-link--bottom">
            <span class="category__item-arrow btn__arrow">
              <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1L6 6L1 11" stroke="#A65CF0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </span>
          </a>
        </h4>
        <a href="../catalog-page.html" class="category__item-link category__item-link--320">
          В каталог
          <span class="category__item-arrow btn__arrow">
            <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 1L6 6L1 11" stroke="#A65CF0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </span>
        </a>
      </li>
      <li class="category__item category__item-5">
        <ul class="list-reset category__choice">
          <li class="category__choice-item">
            <a href="#" class="category__choice-link link-effects">Деревянные</a>
          </li>
          <li class="category__choice-item">
            <a href="#" class="category__choice-link link-effects">Металлокаркас</a>
          </li>
        </ul>
        <h4 class="category__item-title card__title">Стулья
          <a href="../catalog-page.html" class="category__item-link category__item-link--576">
            <span class="category__item-arrow btn__arrow">
              <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1L6 6L1 11" stroke="#A65CF0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </span>
          </a>
        </h4>
        <a href="../catalog-page.html" class="category__item-link category__item-link--320">
          В каталог
          <span class="category__item-arrow btn__arrow">
            <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 1L6 6L1 11" stroke="#A65CF0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </span>
        </a>
      </li>
    </ul>
  </div>
</section>
