<div class="graph-modal graph-modal__main">
  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="modal">
    <button class="btn-reset graph-modal__close" aria-label="Закрыть модальное окно">
      <svg>
        <use xlink:href="../img/sprite.svg#modal-close"></use>
      </svg>
    </button>
    <div class="graph-modal__content">
      <svg class="graph-modal__content-svg">
        <use xlink:href="../img/sprite.svg#modal-img"></use>
      </svg>
      <div class="graph-modal__content-info">Спасибо, мы вам перезвоним!</div>
    </div>
  </div>
</div>
