<div class="wrapper__box">
  <div class="range-wrapper wrapper__range">
    <div class="range-wrapper__inner range-wrapper__inner_from">
      <label class="range-wrapper__text" for="field-from">от</label>
      <input
        class="range-wrapper__field range-wrapper__field_first"
        id="field-from"
        type="number"
        name="numberFieldFrom"
        min="0"
        max="200000"
        aria-label="Enter the initial number"
      />
    </div>
    <div class="range-wrapper__inner range-wrapper__inner_to">
      <label class="range-wrapper__text" for="field-to">до</label>
      <input
        class="range-wrapper__field range-wrapper__field_second"
        id="field-to"
        type="number"
        name="numberFieldTo"
        min="0"
        max="200000"
        aria-label="Enter a finite number"
      />
    </div>
  </div>
  <div class="wrapper__slider"></div>
</div>
