<section class="product">
  <div class="container product__container">
    <div class="product__top">
      <div class="product__img-top" data-graph-path="modal">
        <img src="../img/product-slide-1.png" alt="Диван тканевый D-31">
      </div>
      <div class="product__img-bottom">
        <img src="../img/product-slide-2.png" alt="Диван тканевый D-31">
        <img src="../img/product-slide-3.png" alt="Диван тканевый D-31">
        <img src="../img/product-slide-4.png" alt="Диван тканевый D-31">
        <img src="../img/product-slide-5.png" alt="Диван тканевый D-31">
      </div>
      <div class="card product__comment">
        <span class="card__star product__comment-star">4,8</span>
        <div class="card__content product__comment-content">
          <h4 class="title card__title product__comment-title">
            <span>Диван тканевый прямой &lsquo;&lsquo;D-31&rsquo;&rsquo;</span>
          </h4>
          <span class="product__comment-info">Мини 120 см без ящика Stark синий (Рогожка)</span>
          <span class="card__price product__comment-price">28 490 руб</span>
          <button class="btn-reset card__btn product__comment-btn btn-fill" data-graph-path="modal-bay">Купить в один клик</button>
          <button class="btn-reset product__btn-add">
            + Добавить в корзину
          </button>
        </div>
      </div>
      <div class="product__descr">
        <div class="product__descr-title">Опорный механизм</div>
        <div class="product__descr-content">
          <p>Опорный механизм напоминает пантограф, к которому добавили дополнительную секцию. У опорного дивана сиденье «выпрыгивает» вперёд и вытаскивает вторую часть спального места. Заключительный штрих — опустить спинку.
          </p>
          <p>Этот механизм не портит пол и не боится ковров. Требуется чуть больше силы, чтобы разложить диван, но подросток справится.</p>
        </div>
      </div>
      <div class="product__scheme">
        <img src="../img/product-scheme-1.png" alt="Схема механизма дивана">
        <img src="../img/product-scheme-2.png" alt="Схема механизма дивана">
      </div>
      <div class="product__info">
        <ul class="product__list list-reset">
          <li class="product__item">
            <span class="product__name">Гарантия</span>
            <span class="product__description">18 месяцев</span>
          </li>
          <li class="product__item">
            <span class="product__name">Артикул</span>
            <span class="product__description">AAA41269004</span>
          </li>
          <li class="product__item">
            <span class="product__name">Длина</span>
            <span class="product__description">163 см</span>
          </li>
          <li class="product__item">
            <span class="product__name">Высота</span>
            <span class="product__description">90 см</span>
          </li>
          <li class="product__item">
            <span class="product__name">Глубина</span>
            <span class="product__description">108 см</span>
          </li>
          <li class="product__item">
            <span class="product__name">Спальное место</span>
            <span class="product__description">200 см х 125 см</span>
          </li>
          <li class="product__item">
            <span class="product__name">Высота посадки</span>
            <span class="product__description">45 см</span>
          </li>
          <li class="product__item">
            <span class="product__name">Механизм</span>
            <span class="product__description">Опорный</span>
          </li>
          <li class="product__item">
            <span class="product__name">Тип обивки</span>
            <span class="product__description">Рогожка</span>
          </li>
          <li class="product__item">
            <span class="product__name">Цвет</span>
            <span class="product__description">Синий</span>
          </li>
          <li class="product__item">
            <span class="product__name">Наполнитель</span>
            <span class="product__description">Независимый пружинный блок</span>
          </li>
          <li class="product__item">
            <span class="product__name">Материал каркаса</span>
            <span class="product__description">Металл. рама с дерев. латами</span>
          </li>
          <li class="product__item">
            <span class="product__name">Количество мест</span>
            <span class="product__description">Двухместные</span>
          </li>
          <li class="product__item">
            <span class="product__name">Категория</span>
            <span class="product__description">Прямые тканевые диваны</span>
          </li>
          <li class="product__item">
            <span class="product__name">Возврат</span>
            <span class="product__description">Условия</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container product__section-container">
    <h3 class="section-title product__section-title">Похожие товары</h3>
    <div class="slider-btns product__slider-btns">
      <button class="btn-reset slider-prev product__slider-prev btn__arrow">
        <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 1L6 6L1 11" stroke="#A65CF0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>
      <button class="btn-reset slider-next product__slider-next btn__arrow">
        <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 1L6 6L1 11" stroke="#A65CF0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>
    </div>
    <div class="swiper product__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide product__slide">
          <article class="card product__card">
            <span class="card__star">4,5</span>
            <div class="card__img product__card-img">
              <img src="../img/catalog-img-16.png" alt="Диван велюровый R-85" aria-hidden="true">
            </div>
            <div class="card__content">
              <h4 class="title card__title product__cadr-title">
                <span>Диван велюровый</span>
                <span>&lsquo;&lsquo;R-85&rsquo;&rsquo;</span>
              </h4>
              <span class="card__price product__card-price">34 990 руб</span>
              <button class="btn-reset card__btn product__card-btn btn-stroke">Купить</button>
            </div>
          </article>
        </div>
        <div class="swiper-slide product__slide">
          <article class="card product__card">
            <span class="card__star">4,6</span>
            <div class="card__img product__card-img product__card-img--size">
              <img src="../img/catalog-img-5.png" alt="Диван флоковый H-58" aria-hidden="true">
            </div>
            <div class="card__content">
              <h4 class="title card__title product__cadr-title">
                <span>Диван флоковый</span>
                <span>&lsquo;&lsquo;H-58&rsquo;&rsquo;</span>
              </h4>
              <span class="card__price product__card-price">23 990 руб</span>
              <button class="btn-reset card__btn product__card-btn btn-stroke">Купить</button>
            </div>
          </article>
        </div>
        <div class="swiper-slide product__slide">
          <article class="card product__card">
            <span class="card__star">4,5</span>
            <div class="card__img product__card-img">
              <img src="../img/catalog-img-17.png" alt="Диван велюровый S-44" aria-hidden="true">
            </div>
            <div class="card__content">
              <h4 class="title card__title product__cadr-title">
                <span>Диван велюровый</span>
                <span>&lsquo;&lsquo;S-44&rsquo;&rsquo;</span>
              </h4>
              <span class="card__price product__card-price">19 990 руб</span>
              <button class="btn-reset card__btn product__card-btn btn-stroke">Купить</button>
            </div>
          </article>
        </div>
        <div class="swiper-slide product__slide">
          <article class="card product__card">
            <span class="card__star">4,8</span>
            <div class="card__img product__card-img">
              <img src="../img/catalog-img-13.png" alt="Диван шиниловый V-43" aria-hidden="true">
            </div>
            <div class="card__content">
              <h4 class="title card__title product__cadr-title">
                <span>Диван шиниловый</span>
                <span>&lsquo;&lsquo;V-43&rsquo;&rsquo;</span>
              </h4>
              <span class="card__price product__card-price">19 990 руб</span>
              <button class="btn-reset card__btn product__card-btn btn-stroke">Купить</button>
            </div>
          </article>
        </div>
        <div class="swiper-slide product__slide">
          <article class="card product__card">
            <span class="card__star">4,7</span>
            <div class="card__img product__card-img">
              <img src="../img/catalog-img-14.png" alt="Диван велюровый S-99" aria-hidden="true">
            </div>
            <div class="card__content">
              <h4 class="title card__title product__cadr-title">
                <span>Диван велюровый</span>
                <span>&lsquo;&lsquo;S-99&rsquo;&rsquo;</span>
              </h4>
              <span class="card__price product__card-price">19 990 руб</span>
              <button class="btn-reset card__btn product__card-btn btn-stroke">Купить</button>
            </div>
          </article>
        </div>
        <div class="swiper-slide product__slide">
          <article class="card product__card">
            <span class="card__star">4,7</span>
            <div class="card__img product__card-img">
              <img src="../img/catalog-img-15.png" alt="Диван из кожзама F-85" aria-hidden="true">
            </div>
            <div class="card__content">
              <h4 class="title card__title product__cadr-title">
                <span>Диван из кожзама</span>
                <span>&lsquo;&lsquo;F-85&rsquo;&rsquo;</span>
              </h4>
              <span class="card__price product__card-price">26 990 руб</span>
              <button class="btn-reset card__btn product__card-btn btn-stroke">Купить</button>
            </div>
          </article>
        </div>
        <div class="swiper-slide product__slide">
          <article class="card product__card">
            <span class="card__star">4,4</span>
            <div class="card__img product__card-img">
              <img src="../img/catalog-img-18.png" alt="Диван из шинила C-80" aria-hidden="true">
            </div>
            <div class="card__content">
              <h4 class="title card__title product__cadr-title">
                <span>Диван из шинила</span>
                <span>&lsquo;&lsquo;C-80&rsquo;&rsquo;</span>
              </h4>
              <span class="card__price product__card-price">20 990 руб</span>
              <button class="btn-reset card__btn product__card-btn btn-stroke">Купить</button>
            </div>
          </article>
        </div>
        <div class="swiper-slide product__slide">
          <article class="card product__card">
            <span class="card__star">4,5</span>
            <div class="card__img product__card-img">
              <img src="../img/catalog-img-12.png" alt="Диван флоковый F-41" aria-hidden="true">
            </div>
            <div class="card__content">
              <h4 class="title card__title product__cadr-title">
                <span>Диван флоковый</span>
                <span>&lsquo;&lsquo;F-41&rsquo;&rsquo;</span>
              </h4>
              <span class="card__price product__card-price">17 990 руб</span>
              <button class="btn-reset card__btn product__card-btn btn-stroke">Купить</button>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
