<section class="rating">
  <div class="container rating__container">
    <h3 class="section-title rating__title">Высокий рейтинг</h3>
    <ul class="list-reset rating__list">
      <li class="rating__item">
        <article class="card rating__card">
          <span class="card__star">5,0</span>
          <div class="card__img rating__card-img">
            <img src="../img/rating-img-1.png" alt="Диван кожаный R-94" aria-hidden="true">
          </div>
          <div class="card__content">
            <h4 class="title card__title rating__cadr-title">
              <span>Диван кожаный</span>
              <span>&lsquo;&lsquo;R-94&rsquo;&rsquo;</span>
            </h4>
            <span class="card__price rating__card-price">94 990 руб</span>
            <button class="btn-reset card__btn rating__card-btn btn-stroke">Купить</button>
          </div>
        </article>
      </li>
      <li class="rating__item">
        <article class="card rating__card">
          <span class="card__star">4,9</span>
          <div class="card__img rating__card-img">
            <img src="../img/rating-img-2.png" alt="Диван апартековый T-75" aria-hidden="true">
          </div>
          <div class="card__content">
            <h4 class="title card__title rating__cadr-title">
              <span>Диван апартековый</span>
              <span>&lsquo;&lsquo;T-75&rsquo;&rsquo;</span>
            </h4>
            <span class="card__price rating__card-price">69 990 руб</span>
            <button class="btn-reset card__btn rating__card-btn btn-stroke">Купить</button>
          </div>
        </article>
      </li>
      <li class="rating__item">
        <article class="card rating__card">
          <span class="card__star">4,8</span>
          <div class="card__img rating__card-img">
            <img src="../img/rating-img-3.png" alt="Диван тканевый D-31" aria-hidden="true">
          </div>
          <div class="card__content">
            <h4 class="title card__title rating__cadr-title">
              <span>Диван тканевый</span>
              <span>&lsquo;&lsquo;D-31&rsquo;&rsquo;</span>
            </h4>
            <span class="card__price rating__card-price">28 490 руб</span>
            <button class="btn-reset card__btn rating__card-btn btn-stroke">Купить</button>
          </div>
        </article>
      </li>
      <li class="rating__item">
        <article class="card rating__card">
          <span class="card__star">4,8</span>
          <div class="card__img rating__card-img">
            <img src="../img/rating-img-4.png" alt="Диван велюровый Y-68" aria-hidden="true">
          </div>
          <div class="card__content">
            <h4 class="title card__title rating__cadr-title">
              <span>Диван велюровый</span>
              <span>&lsquo;&lsquo;Y-68&rsquo;&rsquo;</span>
            </h4>
            <span class="card__price rating__card-price">22 990 руб</span>
            <button class="btn-reset card__btn rating__card-btn btn-stroke">Купить</button>
          </div>
        </article>
      </li>
      <li class="rating__item">
        <article class="card rating__card">
          <span class="card__star">4,8</span>
          <div class="card__img rating__card-img">
            <img src="../img/rating-img-5.png" alt="Диван из шинила W-95" aria-hidden="true">
          </div>
          <div class="card__content">
            <h4 class="title card__title rating__cadr-title">
              <span>Диван из шинила</span>
              <span>&lsquo;&lsquo;W-95&rsquo;&rsquo;</span>
            </h4>
            <span class="card__price rating__card-price">22 990 руб</span>
            <button class="btn-reset card__btn rating__card-btn btn-stroke">Купить</button>
          </div>
        </article>
      </li>
      <li class="rating__item">
        <article class="card rating__card">
          <span class="card__star">4,8</span>
          <div class="card__img rating__card-img">
            <img src="../img/rating-img-6.png" alt="Диван флоковый G-41" aria-hidden="true">
          </div>
          <div class="card__content">
            <h4 class="title card__title rating__cadr-title">
              <span>Диван флоковый</span>
              <span>&lsquo;&lsquo;G-41&rsquo;&rsquo;</span>
            </h4>
            <span class="card__price rating__card-price">17 990 руб</span>
            <button class="btn-reset card__btn rating__card-btn btn-stroke">Купить</button>
          </div>
        </article>
      </li>
      <li class="rating__item">
        <article class="card rating__card">
          <span class="card__star">4,8</span>
          <div class="card__img rating__card-img">
            <img src="../img/rating-img-7.png" alt="Диван шиниловый V-43" aria-hidden="true">
          </div>
          <div class="card__content">
            <h4 class="title card__title rating__cadr-title">
              <span>Диван шиниловый</span>
              <span>&lsquo;&lsquo;V-43&rsquo;&rsquo;</span>
            </h4>
            <span class="card__price rating__card-price">19 990 руб</span>
            <button class="btn-reset card__btn rating__card-btn btn-stroke">Купить</button>
          </div>
        </article>
      </li>
      <li class="rating__item">
        <article class="card rating__card">
          <span class="card__star">4,7</span>
          <div class="card__img rating__card-img">
            <img src="../img/rating-img-8.png" alt="Диван велюровый S-99" aria-hidden="true">
          </div>
          <div class="card__content">
            <h4 class="title card__title rating__cadr-title">
              <span>Диван велюровый</span>
              <span>&lsquo;&lsquo;S-99&rsquo;&rsquo;</span>
            </h4>
            <span class="card__price rating__card-price">19 990 руб</span>
            <button class="btn-reset card__btn rating__card-btn btn-stroke">Купить</button>
          </div>
        </article>
      </li>
      <li class="rating__item">
        <article class="card rating__card">
          <span class="card__star">4,7</span>
          <div class="card__img rating__card-img">
            <img src="../img/rating-img-8.png" alt="Диван велюровый S-99" aria-hidden="true">
          </div>
          <div class="card__content">
            <h4 class="title card__title rating__cadr-title">
              <span>Диван велюровый</span>
              <span>&lsquo;&lsquo;S-99&rsquo;&rsquo;</span>
            </h4>
            <span class="card__price rating__card-price">19 990 руб</span>
            <button class="btn-reset card__btn rating__card-btn btn-stroke">Купить</button>
          </div>
        </article>
      </li>
      <li class="rating__item">
        <article class="card rating__card">
          <span class="card__star">4,7</span>
          <div class="card__img rating__card-img">
            <img src="../img/rating-img-8.png" alt="Диван велюровый S-99" aria-hidden="true">
          </div>
          <div class="card__content">
            <h4 class="title card__title rating__cadr-title">
              <span>Диван велюровый</span>
              <span>&lsquo;&lsquo;S-99&rsquo;&rsquo;</span>
            </h4>
            <span class="card__price rating__card-price">19 990 руб</span>
            <button class="btn-reset card__btn rating__card-btn btn-stroke">Купить</button>
          </div>
        </article>
      </li>
      <li class="rating__item">
        <article class="card rating__card">
          <span class="card__star">4,7</span>
          <div class="card__img rating__card-img">
            <img src="../img/rating-img-8.png" alt="Диван велюровый S-99" aria-hidden="true">
          </div>
          <div class="card__content">
            <h4 class="title card__title rating__cadr-title">
              <span>Диван велюровый</span>
              <span>&lsquo;&lsquo;S-99&rsquo;&rsquo;</span>
            </h4>
            <span class="card__price rating__card-price">19 990 руб</span>
            <button class="btn-reset card__btn rating__card-btn btn-stroke">Купить</button>
          </div>
        </article>
      </li>
      <li class="rating__item">
        <article class="card rating__card">
          <span class="card__star">4,7</span>
          <div class="card__img rating__card-img">
            <img src="../img/rating-img-8.png" alt="Диван велюровый S-99" aria-hidden="true">
          </div>
          <div class="card__content">
            <h4 class="title card__title rating__cadr-title">
              <span>Диван велюровый</span>
              <span>&lsquo;&lsquo;S-99&rsquo;&rsquo;</span>
            </h4>
            <span class="card__price rating__card-price">19 990 руб</span>
            <button class="btn-reset card__btn rating__card-btn btn-stroke">Купить</button>
          </div>
        </article>
      </li>
      <li class="rating__item">
        <article class="card rating__card">
          <span class="card__star">4,7</span>
          <div class="card__img rating__card-img">
            <img src="../img/rating-img-8.png" alt="Диван велюровый S-99" aria-hidden="true">
          </div>
          <div class="card__content">
            <h4 class="title card__title rating__cadr-title">
              <span>Диван велюровый</span>
              <span>&lsquo;&lsquo;S-99&rsquo;&rsquo;</span>
            </h4>
            <span class="card__price rating__card-price">19 990 руб</span>
            <button class="btn-reset card__btn rating__card-btn btn-stroke">Купить</button>
          </div>
        </article>
      </li>
      <li class="rating__item">
        <article class="card rating__card">
          <span class="card__star">4,7</span>
          <div class="card__img rating__card-img">
            <img src="../img/rating-img-8.png" alt="Диван велюровый S-99" aria-hidden="true">
          </div>
          <div class="card__content">
            <h4 class="title card__title rating__cadr-title">
              <span>Диван велюровый</span>
              <span>&lsquo;&lsquo;S-99&rsquo;&rsquo;</span>
            </h4>
            <span class="card__price rating__card-price">19 990 руб</span>
            <button class="btn-reset card__btn rating__card-btn btn-stroke">Купить</button>
          </div>
        </article>
      </li>
      <li class="rating__item">
        <article class="card rating__card">
          <span class="card__star">4,7</span>
          <div class="card__img rating__card-img">
            <img src="../img/rating-img-8.png" alt="Диван велюровый S-99" aria-hidden="true">
          </div>
          <div class="card__content">
            <h4 class="title card__title rating__cadr-title">
              <span>Диван велюровый</span>
              <span>&lsquo;&lsquo;S-99&rsquo;&rsquo;</span>
            </h4>
            <span class="card__price rating__card-price">19 990 руб</span>
            <button class="btn-reset card__btn rating__card-btn btn-stroke">Купить</button>
          </div>
        </article>
      </li>
    </ul>
    <button class="btn-reset btn-fill rating__btn show-more">Смотреть больше товаров</button>
  </div>
</section>
