<section class="special">
  <div class="container special__container">
    <h3 class="section-title special__title">Специальные предложения</h3>
    <div class="slider-btns special__slider-btns">
      <button class="btn-reset slider-prev special__slider-prev btn__arrow">
        <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 1L6 6L1 11" stroke="#A65CF0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>
      <button class="btn-reset slider-next special__slider-next btn__arrow">
        <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 1L6 6L1 11" stroke="#A65CF0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>
    </div>
    <div class="swiper special__slider">
      <div class="swiper-wrapper special__wrapper">
        <div class="swiper-slide special__slide special__slide-min">
          <article class="special__card card">
            <span class="card__sale">&minus; 9 000</span>
            <div class="card__img">
              <img src="../img/special-card-1.png" alt="Кресло велюровое X-24" aria-hidden="true">
            </div>
            <div class="card__content card__content-large">
              <h4 class="title card__title card__title-large">
                <span> Кресло велюровое</span>
                <span>&lsquo;&lsquo;X-24&rsquo;&rsquo;</span>
              </h4>
              <div class="card__price">
                <span class="card__price-new">15 990 руб</span>
                <span class="card__price-old">24 990 руб</span>
              </div>
              <button class="btn-reset card__btn card__btn-large btn-stroke">Купить</button>
            </div>
          </article>
        </div>
        <div class="swiper-slide special__slide special__slide-max">
          <article class="special__card card card__max card__max-2">
            <span class="card__sale">&minus; 10 000</span>
            <div class="card__img">
              <picture class="card__img-trans">
                <source media="(max-width: 1200px)" srcset="../img/special-card-2-1024.png">
                <img src="../img/special-card-2.png" alt="Диван тканевый Z-44" aria-hidden="true">
              </picture>
            </div>
            <div class="card__content card__content-large">
              <h4 class="title card__title card__title-large">
                <span>Диван тканевый</span>
                <span>&lsquo;&lsquo;Z-44&rsquo;&rsquo;</span>
              </h4>
              <div class="card__price">
                <span class="card__price-new">22 990 руб</span>
                <span class="card__price-old">32 990 руб</span>
              </div>
              <button class="btn-reset card__btn card__btn-large btn-stroke">Купить</button>
            </div>
          </article>
        </div>
        <div class="swiper-slide special__slide special__slide-min">
          <article class="special__card card">
            <span class="card__sale">&minus; 600</span>
            <div class="card__img">
              <img src="../img/special-card-3.png" alt="Будильник Quartz-23" aria-hidden="true">
            </div>
            <div class="card__content card__content-large">
              <h4 class="title card__title card__title-large">
                <span>Будильник</span>
                <span>&lsquo;&lsquo;Quartz-23&rsquo;&rsquo;</span>
              </h4>
              <div class="card__price">
                <span class="card__price-new">1 290 руб</span>
                <span class="card__price-old">1 890 руб</span>
              </div>
              <button class="btn-reset card__btn card__btn-large btn-stroke">Купить</button>
            </div>
          </article>
        </div>
        <div class="swiper-slide special__slide special__slide-min">
          <article class="special__card card">
            <span class="card__sale">&minus; 300</span>
            <div class="card__img">
              <img src="../img/special-card-4.png" alt="Мини-скульптура Oh my deer" aria-hidden="true">
            </div>
            <div class="card__content card__content-large">
              <h4 class="title card__title card__title-large">
                <span>Мини-скульптура</span>
                <span>&lsquo;&lsquo;Oh my deer&rsquo;&rsquo;</span>
              </h4>
              <div class="card__price">
                <span class="card__price-new">690 руб</span>
                <span class="card__price-old">990 руб</span>
              </div>
              <button class="btn-reset card__btn card__btn-large btn-stroke">Купить</button>
            </div>
          </article>
        </div>
        <div class="swiper-slide special__slide special__slide-max">
          <article class="special__card card card__max card__max-5">
            <span class="card__sale">&minus; 10 000</span>
            <div class="card__img">
              <img src="../img/special-card-5.png" alt="Диван вел-флок Z-85" aria-hidden="true">
            </div>
            <div class="card__content card__content-large">
              <h4 class="title card__title card__title-large">
                <span>Диван вел-флок</span>
                <span>&lsquo;&lsquo;Z-85&rsquo;&rsquo;</span>
              </h4>
              <div class="card__price">
                <span class="card__price-new">22 990 руб</span>
                <span class="card__price-old">32 990 руб</span>
              </div>
              <button class="btn-reset card__btn card__btn-large btn-stroke">Купить</button>
            </div>
          </article>
        </div>
        <div class="swiper-slide special__slide special__slide-min">
          <article class="special__card card">
            <span class="card__sale">&minus; 700</span>
            <div class="card__img">
              <img src="../img/special-card-6.png" alt="Термометр + гидрометр H-18" aria-hidden="true">
            </div>
            <div class="card__content card__content-large">
              <h4 class="title card__title card__title-large card__title--row">
                <span>Термометр +</span>
                <span>гидрометр &lsquo;&lsquo;H-18&rsquo;&rsquo;</span>
              </h4>
              <div class="card__price">
                <span class="card__price-new">1 390 руб</span>
                <span class="card__price-old">2 090 руб</span>
              </div>
              <button class="btn-reset card__btn card__btn-large btn-stroke">Купить</button>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
