<section class="useful">
  <div class="container useful__container">
    <h3 class="section-title useful__title">Полезное</h3>
    <div class="slider-btns useful__slider-btns">
      <button class="btn-reset slider-prev useful__slider-prev btn__arrow">
        <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 1L6 6L1 11" stroke="#A65CF0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>
      <button class="btn-reset slider-next useful__slider-next btn__arrow">
        <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 1L6 6L1 11" stroke="#A65CF0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>
    </div>
    <div class="swiper useful__slider">
      <div class="swiper-wrapper useful__wrapper">
        <div class="swiper-slide useful__slide">
          <article class="useful__card card">
            <div class="card__img useful__card-img">
              <img src="../img/useful-card-1.png" alt="Интерьер" aria-hidden="true">
            </div>
            <div class="card__content useful__card-content card__content-trans">
              <p class="card__descr">
                И нет сомнений, что сделанные на базе интернет-аналитики выводы представляют собой не что иное?
              </p>
              <a class="btn-reset card__btn useful__card-btn btn-stroke">Читать</a>
            </div>
          </article>
        </div>
        <div class="swiper-slide useful__slide">
          <article class="useful__card card">
            <div class="card__img useful__card-img">
              <img src="../img/useful-card-2.png" alt="Интерьер" aria-hidden="true">
            </div>
            <div class="card__content useful__card-content">
              <p class="card__descr">
                Как принято считать, некоторые особенности приносят несомненную пользу обществу?
              </p>
              <a class="btn-reset card__btn useful__card-btn btn-stroke">Читать</a>
            </div>
          </article>
        </div>
        <div class="swiper-slide useful__slide">
          <article class="useful__card card">
            <div class="card__img useful__card-img">
              <img src="../img/useful-card-3.png" alt="Интерьер" aria-hidden="true">
            </div>
            <div class="card__content useful__card-content">
              <p class="card__descr">
                Ясность нашей позиции очевидна: укрепление и развитие внутренней структуры?
              </p>
              <a class="btn-reset card__btn useful__card-btn btn-stroke">Читать</a>
            </div>
          </article>
        </div>
        <div class="swiper-slide useful__slide">
          <article class="useful__card card">
            <div class="card__img useful__card-img">
              <img src="../img/useful-card-4.png" alt="Интерьер" aria-hidden="true">
            </div>
            <div class="card__content useful__card-content">
              <p class="card__descr">
                Прежде всего, консультация с широким активом однозначно фиксирует необходимость распределения?
              </p>
              <a class="btn-reset card__btn useful__card-btn btn-stroke">Читать</a>
            </div>
          </article>
        </div>
        <div class="swiper-slide useful__slide">
          <article class="useful__card card">
            <div class="card__img useful__card-img">
              <img src="../img/useful-card-5.png" alt="Интерьер" aria-hidden="true">
            </div>
            <div class="card__content useful__card-content">
              <p class="card__descr">
                Как принято считать, некоторые особенности приносят несомненную пользу обществу?
              </p>
              <a class="btn-reset card__btn useful__card-btn btn-stroke">Читать</a>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
